In [11]:
import pandas as pd

In [12]:
dic1 = {' Name' : ['Messi', 'Ronaldo', 'Neymar', 'Mbappe', 'Salah', 'Van Djik', 'Nunez' ],
        'Goals' : [320, 250, 100, 95, 90, 65, 50],
        'Position' : ['CF', 'LW', 'LW', 'CF', 'LW', 'CDM', 'RAM']}

In [14]:
df = pd.DataFrame(dic1)

In [15]:
df

       Name  Goals Position
0     Messi    320       CF
1   Ronaldo    250       LW
2    Neymar    100       LW
3    Mbappe     95       CF
4     Salah     90       LW
5  Van Djik     65      CDM
6     Nunez     50      RAM

In [16]:
#display top three rows of the dataset

df.head(3)

      Name  Goals Position
0    Messi    320       CF
1  Ronaldo    250       LW
2   Neymar    100       LW

In [17]:
#display bottom three rows of the dataset

df.tail(3)

       Name  Goals Position
4     Salah     90       LW
5  Van Djik     65      CDM
6     Nunez     50      RAM

In [24]:
#find the shape of the dataset (number of rows and columns)

df.shape
print('Number of rows:', df.shape[0])
print('Number of columns:', df.shape[1])

Number of rows: 7
Number of columns: 3

In [25]:
#get the overall information about the dataset

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0    Name     7 non-null      object
 1   Goals     7 non-null      int64
 2   Position  7 non-null      object
dtypes: int64(1), object(2)
memory usage: 296.0+ bytes

In [27]:
# checking null values in the dataset

df.isnull().sum()

 Name       0
Goals       0
Position    0
dtype: int64

In [28]:
#get the overall summary statisctics of the dataset

df.describe()

            Goals
count    7.000000
mean   138.571429
std    103.550080
min     50.000000
25%     77.500000
50%     95.000000
75%    175.000000
max    320.000000

In [30]:
#find unique values from a particular column

df['Position'].unique()

array(['CF', 'LW', 'CDM', 'RAM'], dtype=object)

In [31]:
#find number of unique values from a particuar column

df['Position'].nunique()

4

In [32]:
#value counts gives us the count of each unique value of a particular column in a dataset

df['Position'].value_counts()

LW     3
CF     2
CDM    1
RAM    1
Name: Position, dtype: int64

In [41]:
# find all the players who have scored more than 50 but less than 150 goals

sum(df['Goals'].between(50,150))

5

In [42]:
#applying functions on the dataset
#goals per minute is defined as number of goals / duration of the game (90)

def goals_per_game(x):
  return x/90

In [46]:
statistics = df['Goals'].apply(goals_per_game)

In [47]:
statistics

0    3.555556
1    2.777778
2    1.111111
3    1.055556
4    1.000000
5    0.722222
6    0.555556
Name: Goals, dtype: float64

In [51]:
df['Goals Per Game'] = statistics

In [52]:
df

       Name  Goals Position  Goals Per Game
0     Messi    320       CF        3.555556
1   Ronaldo    250       LW        2.777778
2    Neymar    100       LW        1.111111
3    Mbappe     95       CF        1.055556
4     Salah     90       LW        1.000000
5  Van Djik     65      CDM        0.722222
6     Nunez     50      RAM        0.555556

In [59]:
#mapping functions
full_position = df['Position'].map({'CF': 'Centre Forward', 'LW' : 'Left Wing', 'CDM' : 'Central Defensive Midfielder', 'RAM' : 'Right Attacking Midfielder'})

In [65]:
#adding the mapped column to the dataframe
df['Position Name'] = full_position

In [66]:
df

       Name  Goals Position  Goals Per Game                 Position Name
0     Messi    320       CF        3.555556                Centre Forward
1   Ronaldo    250       LW        2.777778                     Left Wing
2    Neymar    100       LW        1.111111                     Left Wing
3    Mbappe     95       CF        1.055556                Centre Forward
4     Salah     90       LW        1.000000                     Left Wing
5  Van Djik     65      CDM        0.722222  Central Defensive Midfielder
6     Nunez     50      RAM        0.555556    Right Attacking Midfielder

In [69]:
#print the number of columns and the index information

print('Column information:', df.columns)
print('Index information:', df.index)

Column information: Index([' Name', 'Goals', 'Position', 'Goals Per Game', 'Position Name'], dtype='object')
Index information: RangeIndex(start=0, stop=7, step=1)

In [91]:
#sorting the dataframe by increasing values of goals per game

df.sort_values(by = 'Goals Per Game').reset_index()

,index,Name,Goals,Position,Goals Per Game,Position Name
0,6,Nunez,50,RAM,0.555556,Right Attacking Midfielder
1,5,Van Djik,65,CDM,0.722222,Central Defensive Midfielder
2,4,Salah,90,LW,1.000000,Left Wing
3,3,Mbappe,95,CF,1.055556,Centre Forward
4,2,Neymar,100,LW,1.111111,Left Wing
5,1,Ronaldo,250,LW,2.777778,Left Wing
6,0,Messi,320,CF,3.555556,Centre Forward

In [94]:
df[df['Position'] == 'LW'][['Position', 'Goals', 'Position Name']].reset_index()

   index Position  Goals Position Name
0      1       LW    250     Left Wing
1      2       LW    100     Left Wing
2      4       LW     90     Left Wing